/* 
 * Styles for a video wrapper.
 * To be used by generators like vimeo, youtube...
 */
 .videowrapper {
    position:relative;
    overflow:hidden;
    height:0;
    width:100%;
    padding-bottom:56.25%;
}
.videowrapper iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.badge {
    font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
    text-anchor: middle;
    text-rendering: geometricprecision;
    font-size: 100;
}

.badge .title {
    background-color: rgb(85, 85, 85);
    border-radius: 0 !important;
    color: rgb(255, 255, 255);
}

.badge .value {
    background-color: lightblue;
    border-radius: 0 !important;
    color: rgb(51, 51, 51);
    font-weight: bold;
}